body {
    background: black;
   display: block;
   margin: auto;
}



.layout2, .myframe {
    display: block;
    margin: auto;
}


#info {
    width: 100vw;
    height: 500px;
}

.myframe {
    margin-top: 2rem;
    width: 400px;
    height: 400px;
}

h1 {
    color: blue;
    text-align: center;
}

